<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-add-task (addNewTask)="onGetNewTask($event)"></app-add-task>
    </div>
    <div class="col-md-12">
      <div class="row p-4">
        <div class="col-md-4">
          <div class="card" style="border-color: #0d6efd">
            <h5 class="card-header"><i class="bi bi-card-list pe-3"></i>TO-DO</h5>
            <div class="card-body">
              <app-to-do
                *ngFor="let todo of listOfTodo; let index = index"
                [getNewTask]="todo"
                (delete)="deleteTask(index)"
                (moveToProgress)="moveToProgressFromTodo(todo)"
              ></app-to-do>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="border-color: #0dcaf0">
            <h5 class="card-header"><i class="bi bi-card-list pe-3"></i>InProgress</h5>
            <div class="card-body">
              <app-progress
                *ngFor="let todo of listOfProgress; let index = index"
                [getNewTodo]="todo"
                (backToTodo)="moveToTodoFromProgress(todo)"
                (sendToDone)="moveToDoneFromProgress(todo)"
              ></app-progress>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="border-color: #198754">
            <h5 class="card-header"><i class="bi bi-card-list pe-3"></i>Done</h5>
            <div class="card-body">
              <app-done
                *ngFor="let todo of listOfDone; let index = index"
                [getNewProgress]="todo"
                (backToProgress)="moveToProgressFromDone(todo)"
              ></app-done>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
